<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>IOT Smart</title>
        <script src="jquery-3.6.0.min.js"></script>
        <script src="chart.min.js"></script>
        <script src="socket.io/socket.io.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.8.0/chart.min.js" integrity="sha512-sW/w8s4RWTdFFSduOTGtk4isV1+190E/GghVffMA9XczdJ2MDzSzLEubKAs5h0wzgSJOQTRYyaz73L3d6RtJSg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
        <script src="main.js"></script>
        <link rel="stylesheet" href="style.css"/>
        <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0" />
    </head>
<body>
    <div class="container">
        <div class="navigator">
            <div class="logo">
                <img src="logo.png">
            </div>
            <div class="menu">
                <div class="menuItem" id="menu-dashboard">
                    <span>Dashboard</span>
                </div>
                <div class="menuItem menu-active" id="menu-main">
                    <span>Main</span>
                </div>
                <div class="menuItem" id="menu-chart">
                    <span>Chart</span>
                </div>
                <div class="menuItem" id="menu-log">
                    <span>Logs</span>
                </div>
            </div>
        </div>
        <div class="content">
            <div class="header">
                <div class="header__title">
                    <span>DASHBOARD</span>
                </div>
            </div>
            <div class="mainBody">
                <div class="mainBody__deviceControl">
                    <div class="mainBody__deviceControl--title">
                        <span>Device Control</span>
                    </div>
                    <div class="sensorInfo">
                        <div class="sensorInfo___temp">
                            <div class="sensorInfo__component--label">
                                <span>Temperature</span>
                            </div>
                            <div id="temperature" class="sensorInfo__component--data">
                                <!-- <span>28°C</span> -->
                            </div>
                        </div>
                        <div class="sensorInfo___hum">
                            <div class="sensorInfo__component--label">
                                <span>Humidity</span>
                            </div>
                            <div id="humidity" class="sensorInfo__component--data">
                                <!-- <span>80%</span> -->
                            </div>
                        </div>
                        <div class="sensorInfo___light">
                            <div class="sensorInfo__component--label">
                                <span>Light</span>
                            </div>
                            <div id="light" class="sensorInfo__component--data">
                                <!-- <span>---lux</span> -->
                            </div>
                        </div>
                    </div>
                    <div class="ledControl">
                        <div class="ledControl__led1">
                            <span>LED 1</span>
                            <div class="led1Btn" data-click-state="0">
                                <div class="led1Btn__left">
                                    
                                </div>
                                <div class="led1Btn__right">
                                    
                                </div>
                            </div>
                        </div>
                        <div class="ledControl__led2">
                            <span>LED 2</span>
                            <div class="led2Btn" data-click-state="0">
                                <div class="led2Btn__left">
            
                                </div>
                                <div class="led2Btn__right">
                                    
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="mainBody__log">
                    <div class="mainBody__log--header">
                        <div class="log__header--left">
                            <div class="log__header--title">
                                <span>Logs</span>
                            </div>
                            <div class="log__header--searchBox">
                                <input type="text" name="" id="logSearchInput" placeholder="Search...">
                                <span class="material-symbols-outlined">search</span>
                            </div>
                            <div class="log__header--export">
                                <span class="material-symbols-outlined">ios_share</span>
                                <p>Export</p>
                            </div>
                        </div>
                        <div class="log__header--right">
                            <div class="log__header--refresh">
                                <span class="material-symbols-outlined">refresh</span>
                            </div>
                        </div>
                    </div>
                    <div class="mainBody__log--body">
                        <table class="log__table">
                            <thead>
                                <tr>
                                    <th>Device ID</th>
                                    <th>Device name</th>
                                    <th>IP</th>
                                    <th>Sensor</th>
                                    <th>Type</th>
                                    <th>Value</th>
                                    <th>Time</th>
                                </tr>
                            </thead>
                            <tbody>
                                <!-- <tr>
                                    <td>
                                        <div class="log__table--deviceID log__table--component">
                                            <span>30042201</span>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="log__table--deviceName log__table--component">
                                            <span>Wemos D1</span>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="log__table--ip log__table--component">
                                            <span>192.168.0.1</span>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="log__table--sensor log__table--component">
                                            <span>DHT11</span>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="log__table--ype log__table--component">
                                            <span>Temperature</span>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="log__table--value log__table--component">
                                            <span>25</span>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="log__table--time log__table--component">
                                            <span>30/04/2022</span>
                                        </div>
                                    </td>
                                </tr> -->
                            </tbody>
                        </table>
                    </div>
                    <div class="mainBody__log--footer">
                        <div class="log__footer--pagination">
                            <span class="navigatorLogPage" id="prevLogPage">&laquo;</span>
                            <input type="text" value="" id="currentLogPage">
                            of
                            <span id="totalLogPage"></span>
                            <span class="navigatorLogPage" id="nextLogPage">&raquo;</span>
                        </div>
                    </div>
                </div>
                <div class="mainBody__chart">
                    <div class="chart__humidity">
                        <canvas id="humidityChart"></canvas>
                    </div>
                    <div class="chart__temperature">
                        <canvas id="temperatureChart"></canvas>
                    </div>
                    <div class="chart__light">
                        <canvas id="lightChart"></canvas>
                    </div>
                </div>
                <div class="mainBody__dashboard">
                    Dashboard
                </div>
            </div>
        </div>
    </div>
</body>
</html>