/*------------ RESET CSS ---------------*/
html {
    box-sizing: border-box;
  }
  * {
    margin: 0;
    padding: 0;
  }
  *,
  *:after,
  *:before {
    box-sizing: border-box;
  }
  input,
  textarea,
  select,
  button {
    outline: none;
  }
  input {
    line-height: normal;
  }
  label,
  button {
    cursor: pointer;
  }
  ul {
    padding: 0;
    margin: 0;
  }
  li {
    list-style: none;
  }
  a {
    text-decoration: none;
  }
  img {
    display: block;
    max-width: 100%;
  }
  body {
    display: flex;
    align-items: center;
    justify-content: space-around;
    font-size: 16px;
    font-family: "Source Sans Pro", sans-serif;
    background: #ffffff;
    height: 100vh;
  }

/*========================================*/

.container {
    display: flex;
    width: 100%;
    height: 100vh;
    align-items: flex-start;
}

.navigator {
    width: 15%;
}

.logo {
    display: flex;
    justify-content: space-around;
    border-bottom: 1px solid #dadada;
}

.logo img {
    width: 40%;
}

.menu {
    padding: 16px 32px;
}

.menuItem {
    font-size: 1.1rem;
    font-weight: bold;
    padding: 12px 24px;
    margin-bottom: 12px;
    border: 1px solid #ececec;
    border-radius: 16px;
    cursor: pointer;
}

.menuItem:hover {
    background: #ececec;
}

.menu-active {
    background: #ececec;
}

.content {
    height: 100%;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

.header {
    background: rgb(152, 226, 255);
    padding: 32px 32px 32px 32px;
}

.header__title {
    font-weight: bold;
    font-size: 1.2rem;
}

.mainBody {
    flex-grow: 1;
    background: rgb(241, 241, 241);
    padding-top: 32px;
    padding-left: 32px;
}

.mainBody__deviceControl {
    display: blocl;
    background: #fff;
    width: 60%;
    border-radius: 16px;
    overflow: hidden;
}

.mainBody__deviceControl--title {
    background: rgb(73, 137, 255);
    padding: 12px 24px;
    font-weight: bold;
    color: #fff;
}

.sensorInfo, .ledControl {
    padding: 12px 24px;
}

.sensorInfo {
    display: flex;
    justify-content: space-between;
}

.sensorInfo___temp, .sensorInfo___hum, .sensorInfo___light {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 30%;
    background: rgb(245, 245, 245);
    border-radius: 8px;
    padding-top: 24px;
    padding-bottom: 24px;
}

.sensorInfo__component--label {
    font-size: 1.2rem;
    font-weight: bold;
}

.sensorInfo__component--data {
    font-size: 2rem;
}

.ledControl {
    display: flex;
    justify-content: space-evenly;
}

.ledControl__led1, .ledControl__led2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 30%;
    padding: 12px 24px;
    background: rgb(245, 245, 245);
    border-radius: 8px;
}

.ledControl__led1>span, .ledControl__led2>span {
    font-size: 1.2rem;
    font-weight: bold;
    margin-bottom: 12px;
}

.led1Btn, .led2Btn {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 40px;
    height: 20px;
    background: rgb(255, 255, 255);
    cursor: pointer;
    border-radius: 12px;
    border: 1px solid #dadada;
}

.led1Btn__left, .led1Btn__right, .led2Btn__left, .led2Btn__right {
    width: 12px;
    height: 12px;
    border-radius: 50%;
}

.led1Btn__left, .led2Btn__left {
    background: rgb(255, 17, 17);
}

.led1Btn__right, .led2Btn__right {
    background: transparent;
}


/*====== LOG PAGE ========*/
.mainBody__log {
    display: none;
    width: 85%;
    margin-left: 5%;
    background: #fff;
    padding: 32px 64px;
    border-radius: 24px;
    box-shadow: 6px 6px 6px -6px rgba(0,0,0,0.75);
    -webkit-box-shadow: 6px 6px 6px -6px rgba(0,0,0,0.75);
    -moz-box-shadow: 6px 6px 6px -6px rgba(0,0,0,0.75);
}

.mainBody__log--header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 32px;
}

.log__header--left {
    display: flex;
    align-items: center;
}

.log__header--title{
    font-weight: bold;
    font-size: 1.2em;
}

.log__header--searchBox {
    display: flex;
    align-items: center;
    margin-left: 32px;
    position: relative;
}

.log__header--searchBox input {
    font-size: 1rem;
    padding: 12px 24px;
    border-radius: 24px;
    border: 1px solid rgb(175, 175, 175);
}

.log__header--searchBox span {
    position: absolute;
    right: 12px;
    cursor: pointer;
}

.log__header--export {
    display: flex;
    align-items: center;
    cursor: pointer;
    margin-left: 32px;
}

.log__header--refresh {
    cursor: pointer;
}

.log__header--right {
    display: flex;
    align-items: center;
}

.mainBody__log--body {
    margin-bottom: 32px;
}

.log__table {
    border-collapse: collapse;
    width: 100%;
    padding: 12px;
}

.log__table thead tr {
    text-align: center;
    font-size: 1.35rem;
    height: 48px;
    background: rgb(248, 248, 248);
    color: rgb(59, 59, 59);
}

.log__table tbody tr {
    border-top: 1px solid #d4d4d4;
    height: 48px;
    font-size: 1.15rem;
    color: rgb(77, 77, 77);
}

.log__table--component {
    text-align: center;
}

.mainBody__log--footer {
    display: flex;
    justify-content: space-evenly;
}

.log__footer--pagination {
    display: flex;
    align-items: center;
}

.log__footer--pagination input {
    width: 64px;
    text-align: center;
    padding: 12px 12px;
    margin-right: 12px;
    border-radius: 5px;
    border: 1px solid rgb(128, 128, 128);
}

#totalLogPage{
    margin-left: 12px;
    font-weight: bold;
    font-size: 1.2rem;
}

#prevLogPage {
    margin-right: 12px;
}

#nextLogPage {
    margin-left: 12px;
}
  
.navigatorLogPage {
    color: black;
    padding: 8px 16px;
    cursor: pointer;
}
  
.navigatorLogPage:hover {
    background-color: #ddd;
    border-radius: 5px;
}


/*==============================*/
.mainBody__chart{
    display: none;
    width: 100%;
}

.chart__humidity {
    background: #fff;
    width: 720px;
    padding: 32px 64px;
    border-radius: 16px;
    margin-bottom: 32px;
}

.chart__temperature {
    background: #fff;
    width: 600px;
    padding: 32px 64px;
    border-radius: 16px;
}








.mainBody__dashboard{
    display: none;
}